<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Whale Hunter</strong> is a beer tracking app that is built to be your go to for beer
                discovery.
                Please enjoy responsibly. Check out the
                <a href="https://github.com/PatCeriale/Whale-Hunter"><i class="fab fa-github"></i>
                    GitHub</a> here!
            </p>
        </div>
    </div>
</footer>