<section class="hero">
    <div class="container is-max-desktop">
      <figure class="image">
        <img src="https://img.theculturetrip.com/wp-content/uploads/2018/04/18470213249_27afe9ec0d_k.jpg">
      </figure>
    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered">
      <h2 class="title">Brewery Title</h2>
      <h3 class="subtitle">City, ST</h3>
      <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est
        laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <div class="columns is-centered is-multiline is-flex-wrap-wrap" style="padding: 2rem">
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="https://mybrewsupply.com/wp-content/uploads/2020/06/B317-1.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Beer Name</p>
                  <p class="subtitle is-6">Style</p>
                </div>
              </div>
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="https://mybrewsupply.com/wp-content/uploads/2020/06/B317-1.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Beer Name</p>
                  <p class="subtitle is-6">Style</p>
                </div>
              </div>
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="https://mybrewsupply.com/wp-content/uploads/2020/06/B317-1.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Beer Name</p>
                  <p class="subtitle is-6">Style</p>
                </div>
              </div>
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="https://mybrewsupply.com/wp-content/uploads/2020/06/B317-1.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Beer Name</p>
                  <p class="subtitle is-6">Style</p>
                </div>
              </div>

              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="https://mybrewsupply.com/wp-content/uploads/2020/06/B317-1.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Beer Name</p>
                  <p class="subtitle is-6">Style</p>
                </div>
              </div>

              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>