<section class="section">
    <div class="container">
        <h1 class="title">Popular</h1>
        <!-- TODO: fix image responsiveness -->
        <div id="carousel-demo" class="carousel">
            <div class="item-1">
                <div class="card">
                    <div class="card-image"
                        style="background: url(https://olsonkundig.com/wp-content/uploads/2015/05/08_08067_00_Georgetown_Brewing_Company_BB-1440x1079.jpg); background-size: cover; width: 100%;">
                        <figure class="image is-5by3">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="item-2">
                <div class="card">
                    <div class="card-image"
                        style="background: url(https://img.theculturetrip.com/wp-content/uploads/2018/04/18470213249_27afe9ec0d_k.jpg); background-size: cover; width: 100%;">
                        <figure class="image is-5by3">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="item-3">
                <div class="card">
                    <div class="card-image"
                        style="background: url(https://losangeles.cbslocal.com/wp-content/uploads/sites/14984641/2017/05/anheuser.jpg?w=1024&h=576&crop=1); background-size: cover; width: 100%;">
                        <figure class="image is-5by3">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="item-4">
                <div class="card">
                    <div class="card-image"
                        style="background: url(https://sierranevada.com/wp-content/uploads/2019/02/sierra-nevada-chico-01.jpg); background-size: cover; width: 100%;">
                        <figure class="image is-5by3">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ///////////////////////// Trending 6 pack container/////////////////////////////// -->
<section>
    <div class="container m-3">
        <h1 class="title">Trending</h1>
        <div class="tile is-ancestor columns is-mobile">
            <div class="tile is-parent column">
                <article class="tile is-child box">

                    <figure class="image is-4by3">
                        <img src="https://mennohenselmans.com/wp-content/uploads/2014/02/Beer-belly-six-pack.bmp">
                    </figure>
                    <p class="subtitle">Six Pack 1</p>
                    <p class="subtitle">4.7/5</p>
                </article>
            </div>
            <div class="tile is-parent column">
                <article class="tile is-child box">

                    <figure class="image is-4by3">
                        <img src="https://mennohenselmans.com/wp-content/uploads/2014/02/Beer-belly-six-pack.bmp">
                    </figure>
                    <p class="subtitle">Six Pack 2</p>
                    <p class="subtitle">4.7/5</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor columns is-mobile">
            <div class="tile is-parent column">
                <article class="tile is-child box">

                    <figure class="image is-4by3">
                        <img src="https://mennohenselmans.com/wp-content/uploads/2014/02/Beer-belly-six-pack.bmp">
                    </figure>
                    <p class="subtitle">Six Pack 3</p>
                    <p class="subtitle">4.7/5</p>
                </article>
            </div>
            <div class="tile is-parent column">
                <article class="tile is-child box">

                    <figure class="image is-4by3">
                        <img src="https://mennohenselmans.com/wp-content/uploads/2014/02/Beer-belly-six-pack.bmp">
                    </figure>
                    <p class="subtitle">Six Pack 4</p>
                    <p class="subtitle">4.7/5</p>
                </article>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
<script>
    bulmaCarousel.attach('#carousel-demo', {
        slidesToScroll: 1,
        slidesToShow: 4
    });
</script>