<section class="section">
    <div class="container">
    <div class="columns">
      <div class="column card is-8 is-offset-2 register">
        <div class="columns">
          <div class="column left has-text-centered">
            <div class="columns is-mobile">
              <div class="column is-half is-offset-one-quarter ">
            <figure class="image">
            <img class="is-rounded" src="https://i.pinimg.com/originals/6f/20/39/6f2039da60d44bd4af2976367e4e35be.jpg">
            </figure>
            </div>
            </div>
            <h1 class="title is-1">Whale Hunter</h1>
            <h2 class="subtitle colored is-4">A tasty beer is only a click away!</h2>
            <p>Let us be your go-to for beer discovery and acquisition from the comfort of your own home. Browse our online store and explore new beers to taste and learn more about the beers and breweries that made them.</p>
          </div>
          <div class="column right has-text-centered ">
            <h1 class="title is-4">Sign up today</h1>
            <p class="description">All fields below are required.</p>
            <form action="/signup" method="post" >
              <div class="field">
                <div class="control">
                  <input class="input is-medium" name="user_name" type="text" placeholder="User Name">
                </div>
              </div>      
              <div class="field">
                <div class="control">
                  <input class="input is-medium" type="email" placeholder="Email">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-medium" name="password" type="password" placeholder="Password">
                </div>
              </div>
              <button class="button is-block is-black is-fullwidth is-medium">Sign Up</button>
              <br />
              <small><em>You must be of legal drinking age in your country to join Whale Hunter. By clicking Sign Up, you agree to our Terms of Use and our Privacy Policy</em></small>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>