body {
  background-color: white;
  height: 100vh;
  font-family: "Barlow";
}

.beer-detail-container {
  height: 80vh;
}
.beer-content {
  margin-top: 45vh;
  opacity: 0.95;
}

.carousel {
  overflow: hidden;
}

.whalez {
  margin-left: 50%;
  margin-right: 50%;
}
