body {
  background-color: white;
  min-height: 100vh;
  font-family: "Barlow";
}

/* .beer-detail-container { */
/* min-height: 80vh; */
/* } */
/* .beer-content { */
/* margin-top: 45vh; */
/* opacity: 0.95;
} */

.carousel {
  overflow: hidden;
}
/* .carousel-title {
} */

.slider-navigation-previous {
  background-color: lightgrey;
  margin-left: 3px;
}
.slider-navigation-next {
  background-color: lightgrey;
  margin-right: 3px;
}
.carousel-card-content {
  min-height: 100%;
  /* border-style: solid;
  border-color: black;
  border-width: 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  /* box-shadow: 1%; */
}
.slider-page {
  color: lightgray;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  position: relative;
}
.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  /* overflow: hidden; */
  display: block;
  position: relative;
  padding-bottom: 10vh; /* height of your footer */
}
.content-wrap {
  padding-bottom: 7.5%;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 12px 24px 48px;
  margin-top: 10px;
  min-height: 10vh;
}
.navbar {
  background: url(../images/beerfoamglass.jpeg);
  background-size: cover;
  width: 100%;
}

.whale-logo {
  background: url(https://i.pinimg.com/originals/6f/20/39/6f2039da60d44bd4af2976367e4e35be.jpg);
  background-size: cover;
  width: 125px;
  min-height: 125px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(37, 44, 51);
  margin-left: 50%;
  margin-right: 50%;
}

.whale-box {
  display: inline;
  margin: 0 auto;
  min-height: 100%;
  width: auto;
}

.brewery-description {
  float: left;
}
